/* Reset */
img{
  width: 100%;
}

/* Style index.php */
header.page-header{
  background-color: #06131F;

  & .ms-container{
    max-width: 1224px;
    margin: 0 auto;
    padding: 15px 5px;

    & .row{
      margin-right: 0;
    }
  }

  & img{
    width: 50px;
  }
}

main.page-main{
  background-color: #1D2D3C;
  padding: 15px 0;

  & .container{
    position: relative;

    & .col-4{
      padding: 20px 20px;
    }

    & .card{
      background-color: #112030;
      color: white;
      border: none;
      height: 400px;

      & .card-header{
        border-bottom: none;
      }

      & .card-body div{
        color: rgba(255, 255, 255, 0.473);
      }
    }
  }
}

/* Style modal */
.ms-modal{
  width: 100%;
  height: 100%;
  background-color: #112031e3;
  color: white;
  font-size: 500px;
  position: absolute;
  top: 0;
  left: 0;

  & .row, & .container{
    height: 100%;
  }

  & .card{
    width: 350px;
    background-color: #112031e3;
    color: white;
  }
}